# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Project-specific: Ignorar datos temporales y bases de datos pesadas
data/temp/*
data/processed/*.db
# data/processed/*.csv
!data/processed/.gitkeep

# No ignorar la carpeta raw (contiene el source.html)
!data/raw/source.html
